
<h2><label class="photos_header">Fotos de la comunidad</label></h2>
<%for (var t in photos) {%>

<a class="photo" href='/photos/<%=photos[t].id%>'>
	<img src="<%=photos[t].url%>">
	<p><%=photos[t].name%></p>
</a>

<%}%>