<div id ="welcome">
	<h2><span>Welcome to CDPSgram</span></h2>
	<br>
	<span>In this website you can view the uplodaded photos and upload your own photos.</span>
	<span>Create an user to start</span>
</div>