body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: repeating-linear-gradient(
  	0deg,
  	transparent,
  	transparent 10px,
  	#ccc 10px,
  	#ccc 20px
  	),
  linear-gradient(
  	to bottom,
  	#eee,
  	#999
  	);
}

a {
  color: #00B7FF;
}

h1 a {
	text-decoration: none;
	color: black;
}

#header {
	padding-bottom: 20px;
	height:50px;
	background-color:black;
	border:1px solid #CCC;
	text-align:center;
}

#fuente_header {
	color: white;
}

#nav-bar {
	float: left;
	height: 600px;
	width: 200px;
	border-right: 3px groove black;
}

#nav-bar ul {
	list-style-type: square;
	padding-left: 0px;
}

#nav-bar li {
	padding-bottom: 20px;
	text-decoration: none;
}

#nav-bar a {
	color:#000066;
}

#container-body {
	padding-left: 250px;
	width: 900px;
}

#welcome {
	padding-left: 50px;
	text-align: center;
}

#welcome span {
	margin-top: 20px;
}

.photos_header {
	color: blue;
}

.photo {
	width: 100px;
	height: 200px;
	padding-top: 50px;
	float: left;
	text-decoration: none;
	color: blue;
	text-align: center;
}

.photo_playing {
	width: 500px;
	height: 500px;
	padding-left: 200px;
}

.photo_playing button {
	margin-top: 50px;
}

.photo p {
	text-align: center;
}

.photo img {
	width: 60px;
	height: 60px;
	border: 1px groove black;
	padding: 20px;
	background-color:#ffcc99;
}

.photo_playing img {
	width: 500px;
	height: 500px;
}

.photo audio {
	width: 100%;
}

.upload_field {
	display: block;
	margin-top: 15px;
}

#user-table a {
	color:blue;
} 

#miniatura {
	width: 40px;
	height: 40px;
	
}
#Upload h2 {
	color: blue;
}

#Perfil h2 {
	color: blue;
}

#Crear-usuario h2 {
	color: blue;
}

#Editar-usuario h2 {
	color: blue;
}

#Login h2{
	color: blue;
}

#usuarios h2 {
	color: blue;
}

#flashinfo h3	{ color: black;
			  background: #0066cc;
			  	  margin-left:200px;
			  	 text-align:center;
			}
#flashinfo ul	{ color: black;
			  background: #ff6699;
			  	  margin-left:200px;
			  	 text-align:center;
			}
#flashsuccess h3	{ color: black;
			  	  background: #53ff1a;
			  	  margin-left:200px;
			  	 text-align:center;
				}
#flashsuccess ul	{ color: black;
			  	  background: #ff6699;
			  	  margin-left:200px;
			  	 text-align:center;
				}
#flasherror h3 { color: black;
			  	 background: #ff0000;
			  	 margin-left:200px;
			  	 text-align:center;
			}
#flasherror ul { color: black;
			  	 background: #ff6699;
			  	 margin-left:200px;
			  	 text-align:center;
			}			